body{
  background-color: white;
  box-sizing: border-box;
}
.cont{
  flex: 1;
  display: flex;
  background-color: black;
  color: white;
  height: 420px;
  width: 950px;
  margin: auto;
  margin-top: 160px;
}
.navi-1{
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 20px;
 margin-left: -200px;
 margin-top: 40px;
 
}
.navi-2{
  display: flex;
color: white;
text-decoration: none;
font-size: 20px;
 margin-left: 850px;
 margin-top: -60px;
}
.p-1{
margin-top: 70px;
margin-left: 575px;
}
.span-1{
  color:blue;
}
.h-1{
  margin-top: 120px;
  margin-left: -280px;
  color:blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p-2{
  margin-top: 170px;
  margin-left: -280px;
  background-image: linear-gradient(black,red);
}
.p-3{
  display: flex;
  margin-right: 60px;
}
.img-1{
  height: 220px;
  width: 220px;
  margin-left: -810px;
  margin-top: 90px;
  border: 5px solid rgb(76, 73, 73);
  border-radius: 200px;
}

.cont-36{
  margin-top: -40px;
}
.btn-1{
  
  justify-content: center;
  margin-top: 360px;
  margin-left: 270px;
  height: 30px;
  width: 200px;
  color:rgb(238, 238, 243);
  background-image: linear-gradient(to right,black,red);
  border: none;
}

.body-1{
 
  background-color: black;
}
.cont-3{
  display: flex;
  align-items: center;
  justify-self: center;
 margin-top: 200px;
 height: 300px;
 width: 400px;
 background-image:linear-gradient(black,rgb(181, 170, 170));
}
@media (max-width: 600px) {
  .cont{
    flex-direction: column;
  }
  .cont-3{
    flex-direction: row;
  }
  
}   
.fa-facebook{
margin-left: 30px;
margin-top: 50px;
color: rgb(238, 238, 244);
}
.fa-instagram{
  margin-left: 30px;
  color: red;
  
  }
  .fa-linkedin{
    margin-left: 30px;
    margin-top: 50px;
    color: white;
    }
    .fa-twitter{
      margin-left: 30px;
      }
      .link-1{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-2{
        background-image:linear-gradient(to right,red, yellow);
        background-clip: text;
        color: transparent;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-3{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
  .link-4{
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
   
  } 
  .body11{
    background-color: black;
  }
  .cont-45{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: cadetblue;
    height: 100px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
  }
