body{
  background-color: white;
  box-sizing: border-box;
}
.cont{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 300px;
  width: 600px;
  margin: auto;
  margin-top: 160px;
}

.div-95{
  display: flex;
  margin-left: 40px;
  margin-top: 90px;
}
.img-1{
  display: flex;
  height: 130px;
  width: 130px;
  border: 5px solid rgb(76, 73, 73);
  border-radius: 200px;
}
.div-9{
 display: flex;
margin-top: -190px;
margin-left: 290px;
font-size: 60%;
}
.span-1{
  color:blue;
}
.div-10{
 display: flex;
 flex-direction: column;
  margin-top: -10px;
  margin-left: 289px;
  color:blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-small;
}
.div-3{
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-left: 290px;
  height: 110px;
  width: 270px;
  padding: 5px;
  background-image: linear-gradient(black,red);
  font-size: x-small;
}
.p-3{
  display: flex;
  margin-right: 60px;
}


.cont-36{
  margin-top: -40px;
}
.btn-1{
  justify-content: center;
  margin-top: 20px;
  margin-left: 290px;
  height: 30px;
  width: 200px;
  color:rgb(238, 238, 243);
  background-image: linear-gradient(to right,black,red);
  border: none;
}

.body-1{
 
  background-color: black;
}
.cont-3{
  display: flex;
  align-items: center;
  justify-self: center;
 margin-top: 200px;
 height: 300px;
 width: 400px;
 background-image:linear-gradient(black,rgb(181, 170, 170));
}
@media (max-width: 600px) {
  .cont{
    flex-direction: column;
  }
  .cont-3{
    flex-direction: row;
  }
  
}   
.fa-facebook{
margin-left: 30px;
margin-top: 50px;
color: rgb(238, 238, 244);
}
.fa-instagram{
  margin-left: 30px;
  color: red;
  
  }
  .fa-linkedin{
    margin-left: 30px;
    margin-top: 50px;
    color: white;
    }
    .fa-twitter{
      margin-left: 30px;
      }
      .link-1{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-2{
        background-image:linear-gradient(to right,red, yellow);
        background-clip: text;
        color: transparent;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-3{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
  .link-4{
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
   
  } 
  .body11{
    background-color: black;
  }
  .cont-45{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(18, 21, 21);
    height: 100px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
  }
  .div-75{
    display: flex;
    margin-left: -30px;
    align-items: center;
  }
  .btn-2{
    height: 30px;
    width: 105px;
    color: rgb(155, 145, 145);
    background-image: linear-gradient(to right,black,red);
  border: none;
  }
  .div-76{
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  .btn-3{
    height: 30px;
    width: 105px;
    color: rgb(155, 145, 145);
    background-image: linear-gradient(to right,black,red);
  border: none;
  }
