body{
  background-color: white;
  box-sizing: border-box;
}
.cont{
  flex: 1;
  display: flex;
  background-color: black;
  color: white;
  height: 400px;
  width: 950px;
  margin: auto;
  margin-top: 160px;
}
.navi-1{
  color: white;
  text-decoration: none;
  font-size: 20px;
 margin-left: 600px;
 margin-top: 20px;
 
}
.navi-2{
color: white;
text-decoration: none;
font-size: 20px;
 margin-left: 30px;
 margin-top: 20px;
}
.p-1{
margin-top: 100px;
margin-left: -290px;
}
.span-1{
  color:blue;
}
.h-1{
  margin-top: 140px;
  margin-left: -160px;
  color:blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p-2{
  margin-top: 190px;
  margin-left: -210px;
  background-image: linear-gradient(black,red);
}
.p-3{
  display: flex;
  margin-right: 60px;
}
.img-1{
  height: 220px;
  width: 220px;
  margin-left: -830px;
  margin-top: 90px;
  border: 5px solid rgb(76, 73, 73);
  border-radius: 200px;
}

.body-1{
 
  background-color: black;
}
.cont-3{
  display: flex;
  align-items: center;
  justify-self: center;
 margin-top: 200px;
 height: 300px;
 width: 400px;
 background-image:linear-gradient(black,rgb(181, 170, 170));
}
.fa-facebook{
margin-left: 30px;
margin-top: 50px;
color: rgb(238, 238, 244);
}
.fa-instagram{
  margin-left: 30px;
  color: red;
  
  }
  .fa-linkedin{
    margin-left: 30px;
    margin-top: 50px;
    color: white;
    }
    .fa-twitter{
      margin-left: 30px;
      }
      .link-1{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-2{
        background-image:linear-gradient(to right,red, yellow);
        background-clip: text;
        color: transparent;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
      .link-3{
        color: blue;
        text-decoration: none;
        font-size: 13px;
        margin-left: 5px;
        
      }    
  .link-4{
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
   
  } 
   
